*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}
.background{
    background-image: url("images/netflix-banner.jpg");
    height: 600px;
    background-size: cover;
}
.shade{
    background-color: rgba(0, 0, 0,0.7);
    height: 600px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.hr{
    padding: 4px;
    background-color: rgba(0, 0, 0,0.8);
    margin-top: 0;
}
.main-box{
    display: flex;
    background-color: black;
    height: 450px;
    padding:60px 120px;
}
.faq{
    display: block;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.footer{
    background-color: black;
    color: aliceblue;
    padding: 60px 120px;
}
ul li a{
    color:darkgray;
    font-weight:lighter;
}